<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <% if user_signed_in? %>
    <div class="nav-items">
      <% if current_user.sessions.any? %>
        <%= simple_form_for(@game) do |f| %>
          <%= f.hidden_field :action, value: 'leave' %>
          <%= f.submit "quit" %>
        <% end %>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "nav-item" do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
      <%= cl_image_tag current_user.photo.key , class: "avatar user-border" %>
    </div>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "login"%>
  <% end %>
</div>
