<h1>Liar's Dice</h1>
<% if current_user %>
  <% if current_user.sessions.any? %>
    <%= link_to "Current Game", game_url(current_user.sessions.first.game) %>
    <% controller.redirect_to game_path(current_user.sessions.first.game) %>
  <% else %>
    <% @games = Game.all %>
    <% @new_game = Game.new %>
    <p>Join an exsiting game or create a new game</p>
    <% @games.each do |game| %>
      <div class="game-card">
        <h2>Room <%= game.id %></h2>
        <% game.users.each do |user| %>
          <%= user.name %>
        <% end %>
        <p><%= game.max - game.users.count %> more players</p>
        <% if game.users.count < game.max || game.users.include?(current_user) %>
          <%= simple_form_for(game) do |f| %>
            <%= f.hidden_field :action, value: 'join' %>
            <%= f.submit "join", class: 'join-room button'%>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%#-------------------create-------------------------%>
    <div class="new_game ">
      <%= simple_form_for(@new_game) do |f| %>
        <%# <%= f.input :max, label: 'number of players' %>
        <%= f.submit "New", class: 'new-room button'%>
      <% end %>
    </div>
  <% end %>
<% end %>
