<div class="form-container">
  <%= simple_form_for @game, remote: true, html: { class: 'bet-form' } do |f| %>
    <%= f.input :quantity, input_html: { class: 'bet-quantity' }, label: false %>
    <div class="bet-value">
      <%= f.hidden_field :action, value: 'raise', remote: true %>
      <%= f.input :value %>
      <%= f.submit "raise" %>
    </div>
  <% end %>
</div>
<div>
  <%= simple_form_for(@game) do |f| %>
    <%= f.hidden_field :action, value: 'call', remote: true %>
    <%= f.submit "Call Bluff"%>
  <% end %>
</div>
