<div class="form-container">
  <%= simple_form_for @game, remote: true, html: { class: 'bet-form' } do |f| %>
    <div class="bet-input">
      <div class="bet-quantity">
        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();return false;"
                        class="plus" ></button>
        <%= f.input :quantity, input_html: { class: 'bet-quantity-value' }, label: false %>
        <button onclick="
        if (this.parentNode.querySelector('input[type=number]').value > 1) {
          this.parentNode.querySelector('input[type=number]').stepDown()};return false;"
          class="minus"></button>
      </div>
      <h2>x</h2>
      <div class="bet-value">
        <button onclick="
      if (this.parentNode.querySelector('input[type=number]').value < 6) {
      this.parentNode.querySelector('input[type=number]').stepUp()};

      this.parentNode.querySelector('.bet-image').className = `bet-image dice${this.parentNode.querySelector('input[type=number]').value}`

      return false;"
      class="plus"></button>
        <%= f.input :value, default: 2, input_html: { class: 'value-input' , value: "#{@game.value}"}, label: false %>
        <div class="bet-image dice<%=@game.value%>"></div>
        <button onclick="
      if (this.parentNode.querySelector('input[type=number]').value > 2) {
          this.parentNode.querySelector('input[type=number]').stepDown()};
          this.parentNode.querySelector('.bet-image').className = `bet-image dice${this.parentNode.querySelector('input[type=number]').value}`
          ;return false;"
          class="minus"></button>
      </div>
    </div>
    <div class="submit">
      <%= f.hidden_field :action, value: 'raise', remote: true %>
      <%= f.submit "Raise", class: "btn-dice btn-form btn-yellow"%>
    <% end %>
    <div class="bluff">
      <%= simple_form_for(@game) do |f| %>
        <%= f.hidden_field :action, value: 'call', remote: true %>
        <%= f.submit "Call Bluff", class: 'btn-dice btn-form btn-red'%>
      <% end %>
    </div>
  </div>
</div>
