<div class="background">
  <div class="start">
    <div class="competitors hide">
      <div class="competitor">
        <% if  @game.users.second%>
          <div class="player 1">
            <%= render 'games/player_dice', user: @game.users[@game.users.index(current_user) - (@game.users.count - 1)] %>
          </div>
        <% end %>
      </div>
      <div class="competitor">
        <% if  @game.users.third%>
          <div class="player 2">
            <%= render 'games/player_dice', user: @game.users[@game.users.index(current_user) - (@game.users.count - 2)] %>
          </div>
        <% end %>
      </div>
      <div class="competitor">
        <% if  @game.users.fourth%>
          <div class="player 3">
            <%= render 'games/player_dice', user: @game.users[@game.users.index(current_user) - (@game.users.count - 3)] %>
          </div>
        <% end %>
      </div>
      <div class="competitor">
        <% if  @game.users.fifth%>
          <div class="player 4">
            <%= render 'games/player_dice', user: @game.users[@game.users.index(current_user) - (@game.users.count - 4)] %>
          </div>
        <% end %>
      </div>
    </div>
    <h2><%#= @total %></h2>
    <%# current user %>
    <div class="current-user competitor">
      <div class="player 0">
        <%= render 'games/player_dice', user: current_user %>
      </div>
    </div>
    <div class="current-bet">
      <%= render 'games/current_bet', game: @game %>
    </div>
    <%#----------------------------action----------------------------%>
    <%# if current_user.email == @game.users[@game.turn].email %>
    <div class="action" data-user="<%=current_user.email%>">
      <% if @game.users.select { |user| user.dice.count > 0 }.count < 2 %>
        <%= render 'gameover', game: @game %>
      <% elsif @game.users[@game.turn].email == current_user.email %>
        <%= render 'action', game: @game %>
      <% else %>
        <%= render 'waiting', game: @game %>
      <% end %>
    </div>
    <%# --------------------mod actions----------------------------- %>
    <h2>Reset the game</h2>
    <%= simple_form_for(@game) do |f| %>
      <%= f.hidden_field :action, value: 'reset' %>
      <%= f.submit "Reset"%>
    <% end %>
    <div class="action">
      <div class="form-container">
        <%= simple_form_for @game, remote: true, html: { class: 'bet-form' } do |f| %>
          <%= f.input :quantity, input_html: { class: 'bet-quantity' }, label: false %>
          <div class="bet-value">
            <%= f.hidden_field :action, value: 'raise', remote: true %>
            <%#= f.submit "2", class: 'dice2 dice-img', name: "value"%>
            <%#= f.submit "3", class: 'dice3 dice-img', name: "value"%>
            <%#= f.submit "4", class: 'dice4 dice-img', name: "value"%>
            <%#= f.submit "5", class: 'dice5 dice-img', name: "value"%>
            <%#= f.submit "6", class: 'dice6 dice-img', name: "value"%>
            <%#= f.collection_radio_buttons :value, [[2, '2'],[3, '3'],[4, '4'],[5, '5'],[6, '6']], :first, :last, item_wrapper_tag: false, boolean_style: :inline, item_label_class: 'this'  do |dice| %>
              <%#= dice.label { image_tag("dice#{dice.text}.png") + dice.radio_button + dice.text } %>
              <%# end %>
              <%= f.input :value,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Game::DICES %>
              <%= f.submit "raise" %>
            </div>
          <% end %>
        </div>
        <div>
          <%= simple_form_for(@game) do |f| %>
            <%= f.hidden_field :action, value: 'call', remote: true %>
            <%= f.submit "Call Bluff"%>
          <% end %>
        </div>
      </div>
    </div>
    <%# ----------------------awaiting players---------------------------- %>
  </div>
