<div class="loser">
  <% @game.calculate_loser %>
  <%= @game.loser.name %> loses </br>
<% @game.total.each do |k, v| %>
  <%= image_tag "dice#{k}.png" , width: 100, class: 'dice-img' %> x <%= v %>
<% end %>
<%= simple_form_for(@game) do |f| %>
  <%= f.hidden_field :action, value: 'next' %>
  <%= f.submit "next"%>
<% end %>
</div>
