<div class="player-name">
  <% if user.email == @game.users.sort_by {|user| user.sessions[0].id }[@game.turn].email %>
    <div class="turn-icon"><i class="fas fa-angle-double-right"></i></div>
  <% end %>
  <h2 class="name"><%= user.name %></h2>
  <h3 class="email"><%= user.email %></h3>
</div>
<% if user.photo.attached? %>
  <%= cl_image_tag user.photo.key, width: 70, class: "player-img"%>
<% else %>
  <%= image_tag "default.png", width: 70, class: "player-img" %>
<% end %>
<div class="player-dice">
  <% user.dice.each do |die| %>
    <%= image_tag "dice#{die}-w.png" , width: 60, class: 'dice-img' %>
  <% end %>
</div>
