<h1>Games</h1>
<h2>Welcome back, <%= current_user.email.match(/([^@]+)/) %></h2>
<p>Join an exsiting game or create a new game</p>
<% @games.each do |game| %>
  <h2>game <%= game.id %></h2>
  <% game.users.each do |user| %>
    <%= user.email %>
  <% end %>
  <p><%= game.max - game.users.count %> more players</p>
  <% if game.users.count < game.max || game.users.include?(current_user) %>
    <%= simple_form_for(game) do |f| %>
      <%= f.hidden_field :action, value: 'join' %>
      <%= f.submit "join", class: 'btn btn-primary '%>
    <% end %>
  <% end %>
<% end %>
<%#-------------------create-------------------------%>
<div class="new_game">
  <%= simple_form_for(@new_game) do |f| %>
    <%= f.input :max, label: 'number of players' %>
    <%= f.submit "New", class: 'btn btn-primary '%>
  <% end %>
  <%= link_to 'Back', root_path %>
</div>
