<div class="home">
  <%= image_tag "banner.png", style: "width:100%;" %>
  <h2>Liar's Dice. Let's Dice!</h2>
  <% @games.each do |game| %>
    <div class="cards-border border-yellow">
      <div class="game-card">
        <h3>game <%= game.id %></h3>
        <div class="game-card-info">
          <div class="game-card-players">
            <% game.users.each do |user| %>
              <div class="game-card-player">
                <%= user.name %>
                <%= cl_image_tag user.photo.key, class: "user-photo" %>
              </div>
            <% end %>
          </div>
          <div class="game-card-join">
            <p><%= game.max - game.users.count %> more players</p>
            <% if game.users.count < game.max || game.users.include?(current_user) %>
              <%= simple_form_for(game) do |f| %>
                <%= f.hidden_field :action, value: 'join' %>
                <%= f.submit "join", class: 'btn-home btn-yellow'%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%#-------------------create-------------------------%>
<div class="cards-border border-red">
  <div class="new-game">
    <h3>New Game</h3>
    <%= simple_form_for(@new_game) do |f| %>
      <div class="new-game-form">
        <%= f.input :max, label: 'number of players' %>
        <%= f.submit "New", class: 'btn-home btn-red btn-bottom'%>
      </div>
    <% end %>
  </div>
</div>
