<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>
<% @games.each do |game| %>
  <h2><%= link_to 'game', game_path(game) %></h2>
  <%= simple_form_for(game) do |f| %>
    <%= f.hidden_field :action, value: 'join' %>
    <%= f.submit "join", class: 'btn btn-primary '%>
  <% end %>
<% end %>
<%#-------------------create-------------------------%>
<%= simple_form_for(@new_game) do |f| %>
  <%= f.input :max, label: 'number of players' %>
  <%= f.submit "New", class: 'btn btn-primary '%>
<% end %>
<%= link_to 'Back', root_path %>
