<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>
<% @game.users.each do |user| %>
  <p><%= user.email %></p>
<% end %>
<p><%= @game.new_game %></p>
<h2><%= current_user.email %></h2>
<h2><%= @game.show_all_dice %></h2>
<h2><%= @game.show_your_dice(current_user) %></h2>
<h2><%= @game.round_loss(current_user) %></h2>
<%= link_to 'Back', root_path %>
<% raise %>
