<div class="container">
  <h1>Games#show</h1>
<h3>current turn: <%= @game.users[@game.turn].email %></h3>
<h1><%= current_user.email %></h1>
<% @game.users[@game.users.index(current_user)].dice.each do |die| %>
  <%= image_tag "dice#{die}.png" , width: 100%>
<% end %>
<h1><%= @game.users[@game.users.index(current_user)- 3].email %></h1>
<% @game.users[@game.users.index(current_user)- 3].dice.each do |die| %>
  <%= image_tag "dice7.png" , width: 100%>
<% end %>
<h1><%= @game.users[@game.users.index(current_user)- 2].email %></h1>
<% @game.users[@game.users.index(current_user)- 2].dice.each do |die| %>
  <%= image_tag "dice7.png" , width: 100%>
<% end %>
<h1><%= @game.users[@game.users.index(current_user)- 1].email %></h1>
<% @game.users[@game.users.index(current_user)- 1].dice.each do |die| %>
  <%= image_tag "dice7.png" , width: 100%>
<% end %>
<h2>current bet <%= @game.quantity %> x <%= image_tag "dice#{@game.value}.png" , width: 60%></h2>
<h2><%= @total %></h2>
<% if current_user.email == @game.users[@game.turn].email %>
  <h2>enter bet</h2>
  <%= simple_form_for(@game) do |f| %>
    <%= f.input :quantity %>
    <%= f.input :value %>
    <%= f.hidden_field :action, value: 'raise', remote: true %>
    <%= f.submit "update"%>
  <% end %>
  <h2>call bluff</h2>
  <%= simple_form_for(@game) do |f| %>
    <%= f.hidden_field :action, value: 'call', remote: true %>
    <%= f.submit "Call"%>
  <% end %>
<% end %>
<h2>Reset the game</h2>
<%= simple_form_for(@game) do |f| %>
  <%= f.hidden_field :action, value: 'reset' %>
  <%= f.submit "Reset"%>
<% end %>
</div>
